.card1 {
    margin: auto;
    max-width: 1100px;
    margin-bottom: 40px;
    margin-top: 55px;
  
  }
  
  // * {
  //   background-color: #FBEEC1;
  // }
  
  .eduImg {
    width: 150px;
    margin-top: -15px;
  }
  
  .space-from-arrow {
    margin-left: 2px;
  }
  
  mat-icon {
    transform: scale(0.5);
  }
  
  mat-list-item {
    margin-top: -20px;
  }
  
  .list {
    transform: scale(0.9);
  
  }

  mat-panel-description {
    text-align: center;

  }
  
  mat-panel-title {
    opacity: 0.8;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  mat-expansion-panel {
    padding: 20px;
  }
  
  @media only screen and (max-width: 500px) {
    mat-list-item + #longlist {
      margin-top: 65px;
    }
  }
  
  