<mat-card class="card1">
    <mat-card-title-group>
      <mat-card-title>Morrisons - Sales Assistant</mat-card-title>
      <mat-card-subtitle>Nov 2015 - Nov 2021<div></div>Part-time</mat-card-subtitle>
      <img mat-card-sm-image src={{image}} class="eduImg">
    </mat-card-title-group>
    <mat-card-content style="text-align: center;">
        <mat-panel-description id="exc">
        {{info}}
        <br><br>
    </mat-panel-description>
      {{preface}}
    </mat-card-content>
    <mat-card-content>
    </mat-card-content>

    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <b>Excellent communication</b>
          </mat-panel-title>
         
        </mat-expansion-panel-header>
        <mat-panel-description>
            {{comm}}
        </mat-panel-description>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <b>Customer-centric focus</b>
          </mat-panel-title>
          
        </mat-expansion-panel-header>
        <mat-panel-description>
            {{centric}}
        </mat-panel-description>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <b>Optimisation of customer experience</b>
          </mat-panel-title>
          
        </mat-expansion-panel-header>
        <mat-panel-description>
            {{opt}}
        </mat-panel-description>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <b>Working as a team</b>
          </mat-panel-title>
          
        </mat-expansion-panel-header>
        <mat-panel-description>
            {{team}}
        </mat-panel-description>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <b>Initiative</b>
          </mat-panel-title>
          
        </mat-expansion-panel-header>
        <mat-panel-description>
            {{init}}
        </mat-panel-description>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <b>Time management</b>
          </mat-panel-title>
          
        </mat-expansion-panel-header>
        <mat-panel-description>
            {{time}}
        </mat-panel-description>
      </mat-expansion-panel>
    </mat-accordion>
</mat-card>