

  
<mat-card class="card1">
  

  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Overview
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-panel-description id="exc">
        {{overview}}
      </mat-panel-description>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Technical Skills
        </mat-panel-title>

      </mat-expansion-panel-header>
      
        <mat-list role="list" class="list" style="text-align: left;">
            <mat-list-item role="listitem">
                <mat-panel-description style="margin-top: -50px;">
                    {{languages}}
                </mat-panel-description>
            </mat-list-item>
            <div style="height: 20px;"></div>
            <mat-list-item role="listitem">
                <mat-panel-description style="margin-top: -50px;">
                    {{other}}
                </mat-panel-description>
            </mat-list-item>
        </mat-list>
    
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Personal Projects
        </mat-panel-title>
        
      </mat-expansion-panel-header>

        <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Xofia 
          </mat-panel-title>
          <mat-panel-description style="margin-left: 410px;" id="desc-dates">
            Oct 2021 - Present
          </mat-panel-description>
        </mat-expansion-panel-header>
          <mat-list role="list" class="list" style="text-align: left;" >
            <mat-list-item>
                <mat-panel-description>Currently building a chat platform using the MEAN stack</mat-panel-description>
            </mat-list-item>
          </mat-list>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Portfolio 
          </mat-panel-title>
          <mat-panel-description style="margin-left: 410px;" id="desc-dates">
            Oct 2021 - Nov 2021
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-list role="list" class="list" style="text-align: left;" >
            <mat-list-item role="listitem">
                <mat-panel-description>This portfolio was built using the Angular framework</mat-panel-description>
            </mat-list-item>
          </mat-list>
      </mat-expansion-panel>


      
    </mat-accordion>
    </mat-expansion-panel>
  </mat-accordion>
</mat-card>


