.card1 {
    margin: auto;
    max-width: 800px;
    margin-bottom: 8px;
    margin-top: 20px;
  }
  
  .eduImg {
    width: 150px;
    margin-top: -20px;
  }
  
  .space-from-arrow {
    margin-left: 10px;
  }
  
  //--
  
  body {
    flex-wrap: wrap-reverse;
  }

  mat-expansion-panel {
    text-align: left;
  }

  mat-panel-title {
    font-size: 18px;
  }

  mat-panel-description {
    font-size: 1rem;
    position: absolute;
  }

  #exc {
    position: relative;
  }

  #desc-dates {
    font-size: 14px;

  }

