<mat-card class="card1">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Overview
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-panel-description id="exc">
        {{overview}}
      </mat-panel-description>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Technical Skills
        </mat-panel-title>

      </mat-expansion-panel-header>
      
      <mat-panel-description id="exc">
        {{languages}}
        <br>
        {{frameworks}}
        <br>
        {{runtimes}}
        <br>
        {{libraries}}
        <br>
        {{cloud}}
        <br>
        {{databases}}
      </mat-panel-description>
    
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Personal Projects
        </mat-panel-title>
        
      </mat-expansion-panel-header>

        <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Xofia 
          </mat-panel-title>
          <mat-panel-description style="margin-left: 710px;" id="desc-dates">
            Nov 2021 - Present
          </mat-panel-description>
        </mat-expansion-panel-header>
          <mat-list role="list" class="list_2" style="text-align: left;" >
            <mat-list-item>
                <mat-panel-description>Currently building a chat platform using the MEAN stack</mat-panel-description>
            </mat-list-item>
          </mat-list>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Angular Portfolio 
          </mat-panel-title>
          <mat-panel-description style="margin-left: 710px;" id="desc-dates">
            Oct 2021 - Nov 2021
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-list role="list" class="list_2" style="text-align: left;" >
            <mat-list-item role="listitem">
                <mat-panel-description>This portfolio was built using the Angular framework as the front-end and AWS Amplify for the back</mat-panel-description>
            </mat-list-item>
          </mat-list>
      </mat-expansion-panel>  

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            React Portfolio 
          </mat-panel-title>
          <mat-panel-description style="margin-left: 710px;" id="desc-dates">
            Oct 2021 - Nov 2021
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-list role="list" class="list_2" style="text-align: left;" >
            <mat-list-item role="listitem">
                <mat-panel-description>For a little more colour check out my <a href="https://github.com/JamesGabby/my-react-portfolio"> React Portfolio </a> on Github!</mat-panel-description>
            </mat-list-item>
          </mat-list>
      </mat-expansion-panel>  
    </mat-accordion>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Interests
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-panel-description id="exc">
        {{interests}}
      </mat-panel-description>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Contact Details
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-panel-description id="exc">
        {{sent}}
        <br><br>
        {{email}}
        <br>
        {{number}}
      </mat-panel-description>
    </mat-expansion-panel>
  </mat-accordion>
</mat-card>


