
<mat-card class="card1">
    <mat-card-title-group>
      <mat-card-title>MSc Software Engineering</mat-card-title>
      <mat-card-subtitle>Manchester Metropolitan University<div></div>Sep 2020 - Sep 2021</mat-card-subtitle><mat-card-subtitle><div style="margin-top: -15px;"></div>Distinction</mat-card-subtitle>
      <img mat-card-sm-image src="https://www.mmu.ac.uk/brand/logo/2.3-Logo-Applications_1.jpg" class="eduImg">
    </mat-card-title-group>
    <mat-card-content>
      {{longText}}
    </mat-card-content>
    <mat-card-content>
      {{shortText}}
    </mat-card-content>

    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <b>Scientific Simulation in the Browser</b>
          </mat-panel-title>
          <mat-panel-description style="margin-left: 500px;">
            Jul 2021 - Sep 2021
          </mat-panel-description>
        </mat-expansion-panel-header>
          <mat-list role="list" class="list" style="text-align: left;" >
            <mat-list-item role="listitem"><mat-icon aria-hidden="false" aria-label="Right arrow icon">lens</mat-icon>
              <span class="space-from-arrow"></span>Developed a web browser-based scientific simulation framework</mat-list-item>
            <mat-list-item role="listitem"><mat-icon aria-hidden="false" aria-label="Right arrow icon">lens</mat-icon>
              <span class="space-from-arrow"></span>For the purpose of testing the capability of the web browser in running scientific simulations</mat-list-item>
            <mat-list-item role="listitem"><mat-icon aria-hidden="false" aria-label="Right arrow icon">lens</mat-icon>
              <span class="space-from-arrow"></span>Translated an entire C++ codebase for a 1D heart cell chain simulation into TypeScript</mat-list-item>
            <mat-list-item role="listitem"><mat-icon aria-hidden="false" aria-label="Right arrow icon">lens</mat-icon>
              <span class="space-from-arrow"></span>Then translated TypeScript calculations into WebAssembly allowing fast runtime speeds</mat-list-item>
            <mat-list-item role="listitem"><mat-icon aria-hidden="false" aria-label="Right arrow icon">lens</mat-icon>
              <span class="space-from-arrow"></span>Makes scientific simulations platform independent, portable and widely accessible</mat-list-item>
            <mat-list-item role="listitem"><mat-icon aria-hidden="false" aria-label="Right arrow icon">lens</mat-icon>
              <span class="space-from-arrow"></span>Resulted in a browser based scientific simulation far surpassing compiled C++ runtime speeds</mat-list-item>
          </mat-list>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <b>Film Record UI</b>
          </mat-panel-title>
          <mat-panel-description style="margin-left: 640px;">
            Apr 2021 - Jun 2021
          </mat-panel-description>
        </mat-expansion-panel-header>
          <mat-list role="list" class="list" style="text-align: left;">
            <mat-list-item role="listitem"><mat-icon aria-hidden="false" aria-label="Right arrow icon">lens</mat-icon>
              <span class="space-from-arrow"></span>Developed a full-stack film library interface deployed to Google Cloud</mat-list-item>
            <mat-list-item role="listitem"><mat-icon aria-hidden="false" aria-label="Right arrow icon">lens</mat-icon>
              <span class="space-from-arrow"></span>Allowed the user to view film data in various formats (JSON, XML, plain text) </mat-list-item>
            <mat-list-item role="listitem"><mat-icon aria-hidden="false" aria-label="Right arrow icon">lens</mat-icon>
              <span class="space-from-arrow"></span>Data can be created, retrieved, updated or deleted (CRUD) through a GCP SQL database </mat-list-item>
            <mat-list-item role="listitem"><mat-icon aria-hidden="false" aria-label="Right arrow icon">lens</mat-icon>
              <span class="space-from-arrow"></span>Implemented a RESTful API, with a separate copy of the project implementing SOAP</mat-list-item>
            <mat-list-item role="listitem"><mat-icon aria-hidden="false" aria-label="Right arrow icon">lens</mat-icon>
              <span class="space-from-arrow"></span>Used the Model-view-controller (MVC) design pattern for ease of maintenance</mat-list-item>
            <mat-list-item role="listitem"><mat-icon aria-hidden="false" aria-label="Right arrow icon">lens</mat-icon>
              <span class="space-from-arrow"></span>Client communicated to the server via Ajax</mat-list-item>
          </mat-list>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <b>Hotel Key Card System</b>
          </mat-panel-title>
          <mat-panel-description style="margin-left: 580px;">
            Jan 2021 - Mar 2021
          </mat-panel-description>
        </mat-expansion-panel-header>
          <mat-list role="list" class="list" style="text-align: left;">
            <mat-list-item role="listitem"><mat-icon aria-hidden="false" aria-label="Right arrow icon">lens</mat-icon>
              <span class="space-from-arrow"></span>Built an application that validates input when someone attempts to open the door lock via a key card</mat-list-item>
            <mat-list-item role="listitem"><mat-icon aria-hidden="false" aria-label="Right arrow icon">lens</mat-icon>
              <span class="space-from-arrow"></span>Used sensors (RFID card + reader; servo motor) to simulate the unlocking mechanism of a door lock </mat-list-item>
            <mat-list-item role="listitem"><mat-icon aria-hidden="false" aria-label="Right arrow icon">lens</mat-icon>
              <span class="space-from-arrow"></span>Relied on a client-server model using HTTP where the client receives then sends input data to the server  </mat-list-item>
            <mat-list-item role="listitem"><mat-icon aria-hidden="false" aria-label="Right arrow icon">lens</mat-icon>
              <span class="space-from-arrow"></span>Validation made possible through data comparison on a MySQL database</mat-list-item>
            <mat-list-item role="listitem"><mat-icon aria-hidden="false" aria-label="Right arrow icon">lens</mat-icon>
              <span class="space-from-arrow"></span>Implements MQTT using the publish-subscribe pattern to ensure the correct door will be opened</mat-list-item>
            <mat-list-item role="listitem"><mat-icon aria-hidden="false" aria-label="Right arrow icon">lens</mat-icon>
              <span class="space-from-arrow"></span>Simple Android app developed to allow the hotel door to be opened remotely</mat-list-item>
          </mat-list>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <b>Library UI for Administrators</b>
          </mat-panel-title>
          <mat-panel-description style="margin-left: 550px;">
            Oct 2021 - Dec 2021
          </mat-panel-description>
        </mat-expansion-panel-header>
          <mat-list role="list" class="list" style="text-align: left;">
            <mat-list-item role="listitem"><mat-icon aria-hidden="false" aria-label="Right arrow icon">lens</mat-icon>
              <span class="space-from-arrow"></span>Created an interface for library admins that uses HTTP for data transfer</mat-list-item>
            <mat-list-item role="listitem"><mat-icon aria-hidden="false" aria-label="Right arrow icon">lens</mat-icon>
              <span class="space-from-arrow"></span>Initially displays a form that allows access into the interface given the valid admin credentials</mat-list-item>
            <mat-list-item role="listitem"><mat-icon aria-hidden="false" aria-label="Right arrow icon">lens</mat-icon>
              <span class="space-from-arrow"></span>The interface allows for CRUD modifications of the database as well as a few other extra features</mat-list-item>
            <mat-list-item role="listitem"><mat-icon aria-hidden="false" aria-label="Right arrow icon">lens</mat-icon>
              <span class="space-from-arrow"></span>Registration of a new admin implements SHA-256 cryptographic password hashing</mat-list-item>
          </mat-list>
      </mat-expansion-panel>
    </mat-accordion>
</mat-card>
  
<mat-card class="card1">
  <mat-card-title-group>
    <mat-card-title>BA (Hons) Philosophy</mat-card-title>
    <mat-card-subtitle>Manchester Metropolitan University<div></div>Sep 2016 - Jun 2020</mat-card-subtitle>
    <mat-card-subtitle><div style="margin-top: -15px;"></div>2nd Class Honours</mat-card-subtitle>
    <img mat-card-sm-image src="https://www.mmu.ac.uk/brand/logo/2.3-Logo-Applications_1.jpg" class="eduImg">
  </mat-card-title-group>
  <mat-card-content>
    {{longText2}}
  </mat-card-content>
  <mat-card-content>
    {{shortText2}}
  </mat-card-content>

  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <b>3rd Year</b>
        </mat-panel-title>
        <mat-panel-description style="margin-left: 675px;">
          Sep 2019 - Jun 2020 
        </mat-panel-description>
      </mat-expansion-panel-header>
        <mat-list role="list" class="list" style="text-align: left;">
          <mat-list-item role="listitem"><mat-icon aria-hidden="false" aria-label="Right arrow icon">lens</mat-icon>
            <span class="space-from-arrow"></span>Independent Project</mat-list-item>
          <mat-list-item role="listitem"><mat-icon aria-hidden="false" aria-label="Right arrow icon">lens</mat-icon>
            <span class="space-from-arrow"></span>Kant's Critique of Pure Reason</mat-list-item>
          <mat-list-item role="listitem"><mat-icon aria-hidden="false" aria-label="Right arrow icon">lens</mat-icon>
            <span class="space-from-arrow"></span>Hegel's Revolution of Philosophy</mat-list-item>
          <mat-list-item role="listitem"><mat-icon aria-hidden="false" aria-label="Right arrow icon">lens</mat-icon>
            <span class="space-from-arrow"></span>Philosophy of the Body: Bergson and Merleau-Ponty</mat-list-item>
          <mat-list-item role="listitem"><mat-icon aria-hidden="false" aria-label="Right arrow icon">lens</mat-icon>
            <span class="space-from-arrow"></span>Theism and Paganism</mat-list-item>
        </mat-list>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <b>2nd Year</b>
        </mat-panel-title>
        <mat-panel-description style="margin-left: 675px;">
          Sep 2018 - Jun 2019
        </mat-panel-description>
      </mat-expansion-panel-header>
        <mat-list role="list" class="list" style="text-align: left;">
          <mat-list-item role="listitem"><mat-icon aria-hidden="false" aria-label="Right arrow icon">lens</mat-icon>
            <span class="space-from-arrow"></span>Analytic Metaphysics</mat-list-item>
          <mat-list-item role="listitem"><mat-icon aria-hidden="false" aria-label="Right arrow icon">lens</mat-icon>
            <span class="space-from-arrow"></span>Greek Philosophy</mat-list-item>
          <mat-list-item role="listitem"><mat-icon aria-hidden="false" aria-label="Right arrow icon">lens</mat-icon>
            <span class="space-from-arrow"></span>History of Metaphysics</mat-list-item>
          <mat-list-item role="listitem"><mat-icon aria-hidden="false" aria-label="Right arrow icon">lens</mat-icon>
            <span class="space-from-arrow"></span>Political Philosophy</mat-list-item>
          <mat-list-item role="listitem"><mat-icon aria-hidden="false" aria-label="Right arrow icon">lens</mat-icon>
            <span class="space-from-arrow"></span>Phenomenology</mat-list-item>
          <mat-list-item role="listitem"><mat-icon aria-hidden="false" aria-label="Right arrow icon">lens</mat-icon>
            <span class="space-from-arrow"></span>Nietzsche's Philosophy</mat-list-item>
          <mat-list-item role="listitem"><mat-icon aria-hidden="false" aria-label="Right arrow icon">lens</mat-icon>
            <span class="space-from-arrow"></span>Philosophy of Religion</mat-list-item>
          <mat-list-item role="listitem"><mat-icon aria-hidden="false" aria-label="Right arrow icon">lens</mat-icon>
            <span class="space-from-arrow"></span>Sartre's Being and Nothingness</mat-list-item>
            

        </mat-list>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <b>1st Year</b>
        </mat-panel-title>
        <mat-panel-description style="margin-left: 675px;">
          Sep 2017 - Jun 2018
        </mat-panel-description>
      </mat-expansion-panel-header>
        <mat-list role="list" class="list" style="text-align: left;">
          <mat-list-item role="listitem"><mat-icon aria-hidden="false" aria-label="Right arrow icon">lens</mat-icon>
            <span class="space-from-arrow"></span>Death, God and the Meaning of Life</mat-list-item>
          <mat-list-item role="listitem"><mat-icon aria-hidden="false" aria-label="Right arrow icon">lens</mat-icon>
            <span class="space-from-arrow"></span>Existentialism</mat-list-item>
          <mat-list-item role="listitem"><mat-icon aria-hidden="false" aria-label="Right arrow icon">lens</mat-icon>
            <span class="space-from-arrow"></span>Introduction to Classical Philosophy</mat-list-item>
          <mat-list-item role="listitem"><mat-icon aria-hidden="false" aria-label="Right arrow icon">lens</mat-icon>
            <span class="space-from-arrow"></span>Introduction to Modern Philosophy</mat-list-item>
          <mat-list-item role="listitem"><mat-icon aria-hidden="false" aria-label="Right arrow icon">lens</mat-icon>
            <span class="space-from-arrow"></span>Questioning Humanity I</mat-list-item>
          <mat-list-item role="listitem"><mat-icon aria-hidden="false" aria-label="Right arrow icon">lens</mat-icon>
            <span class="space-from-arrow"></span>Questioning Humanity II</mat-list-item>
          <mat-list-item role="listitem"><mat-icon aria-hidden="false" aria-label="Right arrow icon">lens</mat-icon>
            <span class="space-from-arrow"></span>Theoretical Ethics</mat-list-item>
        </mat-list>
    </mat-expansion-panel>
  </mat-accordion>
</mat-card>


