.card1 {
  margin: auto;
  max-width: 1000px;
  margin-bottom: 40px;
  margin-top: 40px;

}

// * {
//   background-color: #FBEEC1;
// }

.eduImg {
  width: 150px;
  margin-top: -15px;
}

.space-from-arrow {
  margin-left: 2px;
}

mat-icon {
  transform: scale(0.5);
}

mat-list-item {
  margin: -15px;
}

mat-panel-title {
  opacity: 0.8;
}


