.card1 {
  margin: auto;
  max-width: 600px;
  margin-bottom: 8px;
  text-align: center;
  margin-top: 20px;
  overflow: auto;
  display: block;
}

.card2 {
  margin: auto;
  margin-top: 20px;
  max-width: 600px;
  margin-bottom: 8px;
  text-align: center;
  overflow: auto;

}

.eduImg {
  width: 150px;
  margin-top: -20px;
}

.class {
  text-align: left;
}

.space-from-arrow {
  margin-left: 10px;
}



