
<mat-card class="card1">
    <mat-card-title-group>
      <mat-card-title>MSc Software Engineering</mat-card-title>
      <mat-card-subtitle>Manchester Metropolitan University<div></div>Sep 2020 - Sep 2021</mat-card-subtitle>
      <img mat-card-sm-image src="https://www.mmu.ac.uk/brand/logo/2.3-Logo-Applications_1.jpg" class="eduImg">
    </mat-card-title-group>
    <mat-card-content>
      {{longText}}
    </mat-card-content>
    <mat-card-content>
      {{shortText}}
    </mat-card-content>

    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Scientific Simulation in the Browser 
          </mat-panel-title>
          <mat-panel-description style="margin-left: 140px;">
            Jun 2021 - Sep 2021
          </mat-panel-description>
        </mat-expansion-panel-header>
          <mat-list role="list" class="list" style="text-align: left;">
            <mat-list-item role="listitem"><mat-icon aria-hidden="false" aria-label="Right arrow icon">insert_emoticon</mat-icon>
              <span class="space-from-arrow"></span>Developed a web browser-based scientific simulation framework</mat-list-item>
            <mat-list-item role="listitem"><mat-icon aria-hidden="false" aria-label="Right arrow icon">insert_emoticon</mat-icon>
              <span class="space-from-arrow"></span>For the purpose of testing the capability of the web browser in running scientific simulations</mat-list-item>
            <mat-list-item role="listitem"><mat-icon aria-hidden="false" aria-label="Right arrow icon">insert_emoticon</mat-icon>
              <span class="space-from-arrow"></span>Translated an entire C++ codebase for a 1D heart cell chain simulation into TypeScript</mat-list-item>
            <mat-list-item role="listitem"><mat-icon aria-hidden="false" aria-label="Right arrow icon">insert_emoticon</mat-icon>
              <span class="space-from-arrow"></span>Then translated TypeScript calculations into WebAssembly allowing fast runtime speeds</mat-list-item>
            <mat-list-item role="listitem"><mat-icon aria-hidden="false" aria-label="Right arrow icon">insert_emoticon</mat-icon>
              <span class="space-from-arrow"></span>Makes scientific simulations platform independent, portable and widely accessible</mat-list-item>
            <mat-list-item role="listitem"><mat-icon aria-hidden="false" aria-label="Right arrow icon">insert_emoticon</mat-icon>
              <span class="space-from-arrow"></span>Resulted in a browser based scientific simulation far surpassing compiled C++ runtime speeds</mat-list-item>
          </mat-list>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Scientific Simulation in the Browser 
          </mat-panel-title>
          <mat-panel-description style="margin-left: 140px;">
            Jun 2021 - Sep 2021
          </mat-panel-description>
        </mat-expansion-panel-header>
          <mat-list role="list" class="list" style="text-align: left;">
            <mat-list-item role="listitem"><mat-icon aria-hidden="false" aria-label="Right arrow icon">insert_emoticon</mat-icon>
              <span class="space-from-arrow"></span>Developed a web browser-based scientific simulation framework</mat-list-item>
            <mat-list-item role="listitem"><mat-icon aria-hidden="false" aria-label="Right arrow icon">insert_emoticon</mat-icon>
              <span class="space-from-arrow"></span>For the purpose of testing the capability of the web browser in running scientific simulations</mat-list-item>
            <mat-list-item role="listitem"><mat-icon aria-hidden="false" aria-label="Right arrow icon">insert_emoticon</mat-icon>
              <span class="space-from-arrow"></span>Translated an entire C++ codebase for a 1D heart cell chain simulation into TypeScript</mat-list-item>
            <mat-list-item role="listitem"><mat-icon aria-hidden="false" aria-label="Right arrow icon">insert_emoticon</mat-icon>
              <span class="space-from-arrow"></span>Then translated TypeScript calculations into WebAssembly allowing fast runtime speeds</mat-list-item>
            <mat-list-item role="listitem"><mat-icon aria-hidden="false" aria-label="Right arrow icon">insert_emoticon</mat-icon>
              <span class="space-from-arrow"></span>Makes scientific simulations platform independent, portable and widely accessible</mat-list-item>
            <mat-list-item role="listitem"><mat-icon aria-hidden="false" aria-label="Right arrow icon">insert_emoticon</mat-icon>
              <span class="space-from-arrow"></span>Resulted in a browser based scientific simulation far surpassing compiled C++ runtime speeds</mat-list-item>
          </mat-list>
      </mat-expansion-panel>
    </mat-accordion>
</mat-card>
  
<mat-card class="card1">
  <mat-card-title-group>
    <mat-card-title>BA (Hons) Philosophy</mat-card-title>
    <mat-card-subtitle>Manchester Metropolitan University<div></div>Sep 2016 - Jun 2020</mat-card-subtitle>
    <img mat-card-sm-image src="https://www.mmu.ac.uk/brand/logo/2.3-Logo-Applications_1.jpg" class="eduImg">
  </mat-card-title-group>
  <mat-card-content>
    {{longText2}}
  </mat-card-content>
  <mat-card-content>
    {{shortText2}}
  </mat-card-content>

  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          3rd Year
        </mat-panel-title>
        <mat-panel-description style="margin-left: 315px;">
          Sep 2019 - Jun 2020
        </mat-panel-description>
      </mat-expansion-panel-header>
        <mat-list role="list" class="list" style="text-align: left;">
          <mat-list-item role="listitem"><mat-icon aria-hidden="false" aria-label="Right arrow icon">insert_emoticon</mat-icon>
            <span class="space-from-arrow"></span>Developed a web browser-based scientific simulation framework</mat-list-item>
          <mat-list-item role="listitem"><mat-icon aria-hidden="false" aria-label="Right arrow icon">insert_emoticon</mat-icon>
            <span class="space-from-arrow"></span>For the purpose of testing the capability of the web browser in running scientific simulations</mat-list-item>
          <mat-list-item role="listitem"><mat-icon aria-hidden="false" aria-label="Right arrow icon">insert_emoticon</mat-icon>
            <span class="space-from-arrow"></span>Translated an entire C++ codebase for a 1D heart cell chain simulation into TypeScript</mat-list-item>
          <mat-list-item role="listitem"><mat-icon aria-hidden="false" aria-label="Right arrow icon">insert_emoticon</mat-icon>
            <span class="space-from-arrow"></span>Then translated TypeScript calculations into WebAssembly allowing fast runtime speeds</mat-list-item>
          <mat-list-item role="listitem"><mat-icon aria-hidden="false" aria-label="Right arrow icon">insert_emoticon</mat-icon>
            <span class="space-from-arrow"></span>Makes scientific simulations platform independent, portable and widely accessible</mat-list-item>
          <mat-list-item role="listitem"><mat-icon aria-hidden="false" aria-label="Right arrow icon">insert_emoticon</mat-icon>
            <span class="space-from-arrow"></span>Resulted in a browser based scientific simulation far surpassing compiled C++ runtime speeds</mat-list-item>
        </mat-list>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          2nd Year
        </mat-panel-title>
        <mat-panel-description style="margin-left: 315px;">
          Sep 2018 - Jun 2019
        </mat-panel-description>
      </mat-expansion-panel-header>
        <mat-list role="list" class="list" style="text-align: left;">
          <mat-list-item role="listitem"><mat-icon aria-hidden="false" aria-label="Right arrow icon">insert_emoticon</mat-icon>
            <span class="space-from-arrow"></span>Developed a web browser-based scientific simulation framework</mat-list-item>
          <mat-list-item role="listitem"><mat-icon aria-hidden="false" aria-label="Right arrow icon">insert_emoticon</mat-icon>
            <span class="space-from-arrow"></span>For the purpose of testing the capability of the web browser in running scientific simulations</mat-list-item>
          <mat-list-item role="listitem"><mat-icon aria-hidden="false" aria-label="Right arrow icon">insert_emoticon</mat-icon>
            <span class="space-from-arrow"></span>Translated an entire C++ codebase for a 1D heart cell chain simulation into TypeScript</mat-list-item>
          <mat-list-item role="listitem"><mat-icon aria-hidden="false" aria-label="Right arrow icon">insert_emoticon</mat-icon>
            <span class="space-from-arrow"></span>Then translated TypeScript calculations into WebAssembly allowing fast runtime speeds</mat-list-item>
          <mat-list-item role="listitem"><mat-icon aria-hidden="false" aria-label="Right arrow icon">insert_emoticon</mat-icon>
            <span class="space-from-arrow"></span>Makes scientific simulations platform independent, portable and widely accessible</mat-list-item>
          <mat-list-item role="listitem"><mat-icon aria-hidden="false" aria-label="Right arrow icon">insert_emoticon</mat-icon>
            <span class="space-from-arrow"></span>Resulted in a browser based scientific simulation far surpassing compiled C++ runtime speeds</mat-list-item>
        </mat-list>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          1st Year
        </mat-panel-title>
        <mat-panel-description style="margin-left: 315px;">
          Sep 2017 - Jun 2018
        </mat-panel-description>
      </mat-expansion-panel-header>
        <mat-list role="list" class="list" style="text-align: left;">
          <mat-list-item role="listitem"><mat-icon aria-hidden="false" aria-label="Right arrow icon">insert_emoticon</mat-icon>
            <span class="space-from-arrow"></span>Developed a web browser-based scientific simulation framework</mat-list-item>
          <mat-list-item role="listitem"><mat-icon aria-hidden="false" aria-label="Right arrow icon">insert_emoticon</mat-icon>
            <span class="space-from-arrow"></span>For the purpose of testing the capability of the web browser in running scientific simulations</mat-list-item>
          <mat-list-item role="listitem"><mat-icon aria-hidden="false" aria-label="Right arrow icon">insert_emoticon</mat-icon>
            <span class="space-from-arrow"></span>Translated an entire C++ codebase for a 1D heart cell chain simulation into TypeScript</mat-list-item>
          <mat-list-item role="listitem"><mat-icon aria-hidden="false" aria-label="Right arrow icon">insert_emoticon</mat-icon>
            <span class="space-from-arrow"></span>Then translated TypeScript calculations into WebAssembly allowing fast runtime speeds</mat-list-item>
          <mat-list-item role="listitem"><mat-icon aria-hidden="false" aria-label="Right arrow icon">insert_emoticon</mat-icon>
            <span class="space-from-arrow"></span>Makes scientific simulations platform independent, portable and widely accessible</mat-list-item>
          <mat-list-item role="listitem"><mat-icon aria-hidden="false" aria-label="Right arrow icon">insert_emoticon</mat-icon>
            <span class="space-from-arrow"></span>Resulted in a browser based scientific simulation far surpassing compiled C++ runtime speeds</mat-list-item>
        </mat-list>
    </mat-expansion-panel>
  </mat-accordion>
</mat-card>


