.card1 {
  margin: auto;
  max-width: 800px;
  margin-bottom: 8px;
  margin-top: 20px;
}

.eduImg {
  width: 150px;
  margin-top: -20px;
}

.space-from-arrow {
  margin-left: 10px;
}

mat-list {
  position: relative;
  white-space: nowrap;
}

@media screen and (max-width: 500px) {
  mat-list {
    white-space: normal;
  }
}



