
<mat-card class="card1">
    <mat-card-title-group>
      <mat-card-title>MSc Software Engineering</mat-card-title>
      <mat-card-subtitle>Manchester Metropolitan University</mat-card-subtitle>
      <img mat-card-sm-image src="https://www.mmu.ac.uk/brand/logo/2.3-Logo-Applications_1.jpg" class="eduImg">
    </mat-card-title-group>
    <mat-card-content>
      {{longText}}
    </mat-card-content>
    <mat-card-content>
      {{shortText}}
    </mat-card-content>
</mat-card>
  
<mat-card class="card2">
    <mat-card-title-group>
      <mat-card-title>BA (hons) Philosophy</mat-card-title>
      <mat-card-subtitle>Manchester Metropolitan University</mat-card-subtitle>
      <img mat-card-sm-image src="https://www.mmu.ac.uk/brand/logo/2.3-Logo-Applications_1.jpg" class="eduImg">
    </mat-card-title-group>
    <mat-card-content>
      {{longText}}
    </mat-card-content>
</mat-card>
