
@use '~@angular/material' as mat;

@import "~@angular/material/theming";

@include mat.core();

$angular-primary: mat.define-palette(mat.$teal-palette, 500, 100, 900);
$angular-accent: mat.define-palette(mat.$blue-palette, A200, A100, A400);
$angular-warn: mat.define-palette(mat.$red-palette);

$angular-default-theme: mat.define-light-theme(
  (
    color: (
      primary: $angular-primary,
      accent: $angular-accent,
      warn: $angular-warn,
    ),
  )
);

@include mat.all-component-themes($angular-default-theme);

$angular-dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $angular-primary,
      accent: $angular-accent,
      warn: $angular-warn,
    ),
  )
);

.darkMode {
  @include mat.all-component-colors($angular-dark-theme);
}

.flex-stretch {
    flex: 1;
}

.mr-8 {
    margin-right: 8px;
    margin-bottom: 2px;
}

.toolbar {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-shadow: 0 4px 8px 0 rgba(128, 128, 128, 0.692);
    font-weight: 550;
    margin: auto;
    overflow: visible;
    position: absolute;
    height: 70px;
    z-index: 100; 
    position: fixed;
    background-color: #05386B;
    max-width: 100%;
    color: white;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
}

.main-card {
    height: 2200px;
    max-width: 100%;
    overflow: hidden;
    background-color: white;
    border-radius: 0;
}

.mode-spacer {
    margin-left: 12px;
}

.toolbar #twitter-logo {
    margin: 0 8px;
    margin-top: 23%;
}

.toolbar #youtube-logo {
    margin: 0 16px;
    margin-top: 17%;
}

#home {
  margin-top: 7px;
  margin-right: 4px;
}

.toolbar path:hover,
.toolbar #home:hover {
    opacity: 0.7;
}

.toolbar #youtube-logo {
  transform: scale(1.3);
  margin-bottom: 1px;
}

.toolbar #twitter-logo {
  transform: scale(1.2);
  margin-bottom: 1px;
}

.line {
    border-right: 2px solid ;
    height: 36px;
    border-radius: 100%;
    opacity: 0.8;
    margin-left: 10px;;
}

// main buttons
svg.material-icons {
  height: 24px;
  width: auto;
}

svg.material-icons:not(:last-child) {
  margin-right: 8px;
}

.card svg.material-icons path {
  fill: rgb(29, 12, 12);
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 0;
}

.card {
  all: unset;
  border-radius: 4px;
  border: 1px solid grey;
  height: 40px;
  width: 200px;
  margin: 100px 8px 16px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  line-height: 24px;
  box-shadow: 0 4px 8px 0 grey;
  background-color: #fefefa
}

.card-container .card:not(:last-child) {
  margin-right: 8px;
}

.card-container .card:not(.highlight-card) {
  cursor: pointer;
}

.card-container .card:not(.highlight-card):hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}

.card-container .card:not(.highlight-card):hover .material-icons path {
  fill: rgb(105, 103, 103);
}

a:hover {
  color: rgb(145, 167, 238);
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.icon-display {
  transform: scale(1.6);
  margin: 0 0 5px 0;
}

.comment-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  margin: 2% 0 0 0;
}

.comment-form button {
  margin: 0;
  position: relative;
  margin-left: 705px;
}

.comment-full-width {
  width: 100%;
  margin-left: 510px;
  margin-top: -10px;
}

.name-label {
  width: 40%;
  margin-left: 510px;
}

.comments-list {
  text-align: center;
}

#myName {
  position: auto;
  display: flex;
  margin-left: 30%;
  font-size: 22px;
}

#linkedin-logo,
  #github-logo {
    display: none;
}

@media only screen and (max-width: 500px) {
  #myName {
    margin-left: 10px;
    font-size: 16px;
  }

  .mr-8 {
    margin-right: -5px;
    margin-bottom: 2px;
    transform: scale(0.7);
  }

  .toolbar {
    width: 400px;
  }

  .comment-full-width {
    width: 50%;
    margin-left: 1.5%;
    margin-top: 5%;
  }
  
  .name-label {
    width: 20%;
    margin-left: 15%;
    margin-top: 5%;
  }

  .comment-form button {
    margin-left: 42%;
  }

  #home {
    margin-top: 7px;
    margin-left: -12px;
    transform: scale(0.8);
  }

  #linkedin-logo,
  #github-logo {
    display: flex;
  }

  .toolbar #twitter-logo,
  .toolbar #youtube-logo {
    display: none;
  }

  .card {
    margin-top: auto;
  }

  #card-spacer {
    margin-top: 80px;
  }

  #auth {
    margin-top: 70px;
  }

  #comments-text {
    margin-top: 25px;
  }
}

.portfolio {
  padding-top: 10px;
  font-size: 15px;
}

